.contacts {
  display: none;
}

.books {
  display: none;
}

.list-item {
  display: flex;
  gap: 10px;
  margin-left: 300px;
  width: 700px;
  border: 1px solid black;
  justify-content: space-between;
}

.list-item:nth-child(odd) {
  background-color: rgb(218, 218, 218);
}

.description {
  font-size: 20px;
  margin-top: 15px;
}

.delete-button {
  background: red;
  margin-top: 8px;
  height: 40px;
  margin-right: 5px;
}

#dataForm {
  display: none;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-self: center;
  align-items: center;
}

input {
  width: 60%;
  margin-bottom: 10px;
}

.btn {
  -webkit-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.75);
  border: 2px solid black;
  margin-top: 5px;
}

.contact-list {
  margin-left: 500px;
}
